.counter {
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 5px;
  flex-direction: column;

  .label-container {
    display: flex;
    justify-content: center;

    label {
      font-size: 36px;
    }
  }

  .controls {
    display: flex;
    flex-grow: 1;

    .btn {
      flex-grow: 1;
      margin: 0 2px;
    }
  }
}
